{{ header }}{{ column_left }}{{ column_right }}
<div id="content" class="container">{{ content_top }}
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<h2>{{ heading_title }}</h2>
	<h3>Ваш номер заказа: {{ order_id }}</h3>
	<p>{{ message_success }}</p>
	<table style="width: 100%;text-align: left;">
		<tbody>
				<tr>
					<td valign="top" style="text-align:left;">
						Вам необходимо произвести платеж в любой системе, позволяющей проводить оплату через ЕРИП (пункты банковского обслуживания, банкоматы, платежные терминалы, системы интернет-банкинга, клиент-банкинга и т.п.).
						<br />
						<br /> 1. Для этого в перечне услуг ЕРИП перейдите в раздел: <br />
						<b>Система "Расчет" (ЕРИП)-&gt;Сервис E-POS-&gt;E-POS - оплата товаров и услуг</b><br />
						<br /> В поле "Код" введите <b>{{ order_id }}</b> и нажмите "Продолжить"<br />
						<br /> 3.Проверить корректность информации<br />
						<br />4. Совершить платеж.<br />
					</td>
						<td style="text-align: center;padding: 40px 20px 0 0;vertical-align: middle">
							<p>{{ qr_code }}</p>
							{{ qr_description }}
                            </td>
                    </tr>
            </tbody>
        </table>
	<div class="buttons">
		<div class="right">
			<a id="button-confirm" class="btn btn-primary" data-loading-text="{{ text_loading }}" href="{{ continue }}">{{ button_continue }}</a>
		</div>
	</div>
	{{ content_bottom }}
</div>
{{ footer }}
